<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CliveOverflow Hub</title>
  <link rel="stylesheet" href="style1.css">
</head>
<body>
  <div class="main">
    <div class="topbar">
      <ul class="toplinks leftlinks">
        <li><a href="https://discord.com/invite/QEYvf6cP6d">DISCORD</a></li>
        <li><a href="#news">NEWS</a></li>
        <li><a href="#contact">BUILDS</a></li>
        <li><a href="#about">GUIDE</a></li>
      </ul>
      <div class="title">CLIVEOVERFLOW.COM</div>
      <ul class="toplinks rightlinks">
        <li><a href="#vote">VOTE</a></li>
        <li><a href="#news">DONATE</a></li>
        <li><a href="#builds">PLACE</a></li>
        <li><a href="#about">PLACE</a></li>
      </ul>
    </div>
    <div class="grid-container">
      <div class="side sideleft">
        Latest News:
        <object class="news" data="news.txt" type="text/plain" color="#E7CA94" style="font-family: 'AsusRog-Regular', sans-serif;"></object>
      </div>
      <div class="center">
        <div class="page1">
          <div class ="carousel"></div>
        </div>
        <div class="page2">
          tstefeefeefef
        </div>
        <div class="page3 vote-container" id="vote">
          <ul class="votelinks">
            <li>
              <img src="https://minecraft-server-list.com/favicon.ico" alt="Server Icon" width="64" height="64">
              <a href="https://minecraft-server-list.com/server/504648/vote/">
                minecraft-server-list.com
              </a>
            </li>
            <li>
              <img src="https://minecraft-serverlist.com/favicon.ico" alt="Server Icon" width="64" height="64">
              <a href="https://minecraft-serverlist.com/server/1169/vote">
                minecraft-serverlist.com
              </a>
            </li>
            <li>
              <img src="https://minecraftservers.org/favicon.ico" alt="Server Icon" width="64" height="64">
              <a href="https://minecraftservers.org/server/663047">
                minecraftservers.org
              </a>
            </li>
            <li>
              <img src="https://minestatus.net/favicon.ico" alt="Server Icon" width="64" height="64">
              <a href="https://minestatus.net/server/vote/cliveoverflow.com">
                minestatus.net
              </a>
            </li>
            <li>
              <img src="https://minecraft-mp.com/favicon.ico" alt="Server Icon" width="64" height="64">
              <a href="https://minecraft-mp.com/server-s332527/vote">
                minecraft-mp.com
              </a>
            </li>
            <li>
              <img src="https://minecraft-statistic.net/favicon.ico" alt="Server Icon" width="64" height="64">
              <a href="https://minecraft-statistic.net/en/server/cliveoverflow/top/">
                minecraft-statistic.net
              </a>
            </li>
            </li>
            <li>
              <img src="https://www.minecraftiplist.com/favicon.ico" alt="Server Icon" width="64" height="64">
              <a href="https://www.minecraftiplist.com/server/TheWorld1.20.5SemiVanillaNearAnarchy-34607/vote">
                www.minecraftiplist.com
              </a>
            </li>
            </li>
            <li>
              <img src="https://minecraft.menu/CSS/favicon.ico" alt="Server Icon" width="64" height="64">
              <a href="https://minecraft.menu/server-cliveoverflow.6571/vote">
                minecraft.menu
              </a>
            </li>
            </li>
            <li>
              <img src="https://www.planetminecraft.com/favicon.ico" alt="Server Icon" width="64" height="64">
              <a href="https://www.planetminecraft.com/server/the-world-6289526/vote/">
                www.planetminecraft.com
              </a>
            </li>
            </li>
            <li>
              <img src="https://minelist.net/static/favicon/favicon.ico" alt="Server Icon" width="64" height="64">
              <a href="https://minelist.net/vote/4531">
                minelist.net
              </a>
            </li>
            </li>
            <li>
              <img src="https://minecraft.buzz/favicon.ico" alt="Server Icon" width="64" height="64">
              <a href="https://minecraft.buzz/vote/cliveoverflow">
                minecraft.buzz
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="side sideright">
      </div>
    </div>
    <div class="bg-animation">
      <div id='stars'></div>
      <div id='stars2'></div>
      <div id='stars3'></div>
      <div id='stars4'></div>
    </div><!-- / STAR ANIMATION -->
  </div>
</body>
</html>
